.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  display: none;
}

.modal.active {
  display: block;
}

.modal__content {
  width: 80%;
  background-color: #fff;
  padding: 50px;
  border: 1px solid #000;
  margin: 1rem auto;
  box-sizing: border-box;
}
